    <!-- ### Début mount  ### -->
    <!-- {{ ansible_managed }} -->
    <!-- Debut conf hotels  -->
    <!-- Fallback global -->
    <mount>
        <mount-name>/secours</mount-name>
        <password>{{ icecast_source_password }}</password>
        <public>0</public>
	<hidden>1</hidden>
    </mount>

{% for server in groups[icecast_feeds] %}
{% for radio, details in hostvars[server]['liq_radios']|dictsort %}
{%   set mount = details['mountpoint']  -%}
    <!-- Conf auto pour {{ radio }}  ({{ server}})-->
{% if not ( details['nobackup'] | default(False) ) %}

    <!-- backup -->
    <relay>
        <port>8000</port>
        <server>127.0.0.1</server>
        <mount>/{{ hostvars[server]['liq_fallback'] | default('secours') }}</mount>
        <local-mount>/{{ mount }}-secours</local-mount>
        <public>0</public>
	<hidden>1</hidden>
    </relay>
    <mount>
        <mount-name>/{{ mount }}-secours</mount-name>
        <public>0</public>
	<hidden>1</hidden>
    </mount>
{% endif %}

    <!-- Flux -->
    <mount>
        <mount-name>/{{ mount }}</mount-name>
	{% if 'stream_password' in details or 'liq_source_password' in hostvars[server] -%}
        <password>{{ details['stream_password'] | default(hostvars[server]['liq_source_password']) }}</password>
	{% endif -%}
{% if not ( details['nobackup'] | default(False) ) %}
	<fallback-mount>/{{ mount }}-secours</fallback-mount>
	<fallback-override>1</fallback-override>
{% endif %}
    <public>{{ details['public'] | default(0) }}</public>
	<hidden>{{ details['hidden'] | default(1) }}</hidden>
    </mount>
{% endfor %}
{% endfor %}
    <!-- ### Fin mount  ### -->
