    <mount>
        <mount-name>/secousse</mount-name>
	<fallback-mount>/secousse-bak</fallback-mount>
	<fallback-override>1</fallback-override>
	<public>1</public>
        <password>{{ icecast_source_password }}</password> 
    </mount>
    <mount>
        <mount-name>/secousse-bak</mount-name>
        <password>{{ icecast_source_password }}</password> 
	<fallback-mount>/secousse-secours</fallback-mount>
	<fallback-override>1</fallback-override>
	<public>0</public>
	<hidden>1</hidden>
        <password>{{ icecast_source_password }}</password> 
    </mount>
    <mount>
        <mount-name>/secousse-secours</mount-name>
        <password>{{ icecast_source_password }}</password> 
	<public>0</public>
	<hidden>1</hidden>
    </mount>
{% for flux in icecast_secousse_auxiliaires %}
    <mount>
        <mount-name>/secousse-{{ flux }}</mount-name>
	<fallback-mount>/secousse-bak</fallback-mount>
	<fallback-override>1</fallback-override>
        <password>{{ icecast_source_password }}</password> 
	<public>1</public>
	<hidden>0</hidden>
    </mount>
{% endfor %}
