    <!-- ### Début mount  ### -->
    <!-- {{ ansible_managed }} -->
    <!-- Debut conf feed  -->
{% for server in groups[icecast_feeds] %}
{% for radio, details in hostvars[server]['liq_radios']|dictsort %}
{%   set mount = details['mountpoint'] | default(radio) -%}
    <!-- Conf auto pour {{ radio }}  ({{ server}})-->
{% if not ( details['no_default_backup'] | default(False) ) %}

    <!-- backup -->
    <relay>
        <port>8000</port>
        <server>127.0.0.1</server>
        {% if 'specific_backup' in details %}
        <mount>/{{ details['specific_backup'] }}</mount>
        {% else %}
        <mount>/{{ hostvars[server]['liq_fallback'] | default('secours') }}</mount>
        {% endif %}
        <local-mount>/{{ mount }}-secours</local-mount>
        <public>0</public>
	<hidden>1</hidden>
    </relay>
    <mount>
        <mount-name>/{{ mount }}-secours</mount-name>
        <public>0</public>
	<hidden>1</hidden>
    </mount>
{% endif %}

    <!-- Flux -->
    <mount>
        <mount-name>/{{ mount }}</mount-name>
        {% if 'stream_password' in details or 'liq_source_password' in hostvars[server] %}
        <password>{{ details['stream_password'] | default(hostvars[server]['liq_source_password']) }}</password>
        {% endif %}
        {% if not ( details['no_default_backup'] | default(False) ) %}
	    <fallback-mount>/{{ mount }}-secours</fallback-mount>
	    <fallback-override>1</fallback-override>
        {% elif details['specific_backup'] | default(False)  %}
	    <fallback-mount>/{{ details['specific_backup'] }}</fallback-mount>
	    <fallback-override>1</fallback-override>
        {% endif %}
        <public>{{ details['public'] | default(0) }}</public>
	    <hidden>{{ details['hidden'] | default(1) }}</hidden>
    </mount>
{% endfor %}
{% endfor %}
    <!-- ### Fin mount  ### -->
